button {
    font-size: large;
    border-radius: 20%;
    width: 60px;
    height: 60px;
}

#calculator-body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.js-calc-field {
    width: 17%;
    text-align: end;
    padding: 20px 10px;
}